<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
<div class="container">
    <div class="wrapper">
        <form class="login"action="">
            <div class="loginTitle">Login</div>
            <div class="username">
                <span class="userpass">Username</span>
                <input class="input" type="text" name="username" placeholder="Type your username">
            </div>
            <div class="password">
                <span class="userpass" for="password">Password</span>
                <input class="input" type="password" name="password" placeholder="Type your password">
            </div>
            <div class="forget">
                <span><a href="">Forgot password?</a></span>
            </div>
            <div>
                <div>
                    <div></div>
                    <button>Login</button>
                </div>
            </div>
            
        </form>
    </div>
</div>