.all_container{
    font-family: 'K2D', sans-serif; 
}
@media screen and (min-width: 1300px) {
    .all_container { 
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media screen and (max-width: 1300px) {
    .all_container { 
        height: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
}
a{
    text-decoration: none;
}